<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Famous Stylists Hair Salon</title>
    </head>
    <body>
        <h1>Famous Stylists Hair Salon</h1>

        <h3>Edit Client: {{ client.getName }}</h1>

        <form action="/rename/{{ client.getID }}" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="name">Rename Client: </label>
            <input id="name" name="name" type="text">

            <button type="submit">Rename Client</button>
        </form>

        <form action="/reassign/{{ client.getID }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="stylist_id">Reassign Client to Stylist: </label>
            <!-- <input id="stylist_id" name="stylist_id" type="number" required> -->
            <select id="stylist_id" name="stylist_id" required>
                {% for stylist in stylists %}
                    <option value="{{ stylist.getID }}">{{ stylist.getName }}</option>
                {% endfor %}
            </select>

            <button type="submit">Reassign Client</button>
        </form>

        <form action="/clients/{{ client.getID }}" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit">Delete Client</button>
        </form>
        <h4><a href='/'>Home</a></h4>
    </body>
</html>
